@model JobBoard.Models.JobPosting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobPosting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobFunction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobFunction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsibilities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <button onclick="cacheItem()" id="offline-btn" value="Add to cache">Add to cache</button>
</div>


<script>
     async function cacheItem() {

        let isCached = false;

       await caches.open('offline-jobs').then(async (xd) => {
           isCached = await xd.match(window.location.href)

            if (isCached) {
                $("#offline-btn").val('Remove from cache')
                xd.delete(window.location.href)
            } else {
                $("#offline-btn").val('Add to cache')
                xd.add(window.location.href)
            }
        })

    }

</script>




