@model IEnumerable<JobBoard.Models.JobPosting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {

<div>
    <p>@Html.DisplayFor(modelItem => item.Title)</p>
    <p>@Html.DisplayFor(modelItem => item.JobFunction)</p>
    <p>@Html.DisplayFor(modelItem => item.Description)</p>
    <p>@Html.DisplayFor(modelItem => item.Requirement)</p>
    <p>@Html.DisplayFor(modelItem => item.Responsibilities)</p>
    <p>@Html.DisplayFor(modelItem => item.Qualifications)</p>
    <p>  @Html.DisplayFor(modelItem => item.Skills)</p>
    <p> @Html.DisplayFor(modelItem => item.CreatedDate)</p>
    <p> @Html.DisplayFor(modelItem => item.Requirement)</p>
    <p>Start Date<span>@Html.DisplayFor(modelItem => item.StartDate)</span></p>

    <a asp-action="Details" asp-route-id="@item.JobId">Details</a>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Apply">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none">
                    <label class="control-label"></label>
                    <input id="Email" name="Email" class="form-control" value="@User.Identity.Name" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <label class="control-label"></label>
                    <input id="JobId" name="JobId" class="form-control" value="@item.JobId" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input disabled="@Html.ValueFor(modelItem => item.IsDraft)" type="submit" value="Apply" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <button class="share-button" type="button" title="Share this job">
        <span>Share</span>
    </button>
</div>
                
                
                
                
                


              
}


<script>
    const shareButton = document.querySelector('.share-button');
    const shareDialog = document.querySelector('.share-dialog');
    const closeButton = document.querySelector('.close-button');

    shareButton.addEventListener('click', event => {
        if (navigator.share) {
            navigator.share({
                title: 'WebShare API Demo',
                url: 'https://codepen.io/ayoisaiah/pen/YbNazJ'
            }).then(() => {
                console.log('Thanks for sharing!');
            })
                .catch(console.error);
        } else {
            shareDialog.classList.add('is-open');
        }
    });

    closeButton.addEventListener('click', event => {
        shareDialog.classList.remove('is-open');
    });
</script>